@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
/* Header */
.logo a{
    font-size: 36px;
    color: #1CB698;
    text-transform: uppercase;
    text-decoration: none;
    width: 100px;
    cursor: pointer;
}

.content-header{
    background: #1e2326;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.content-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.content-header header ul{
    display: flex;
    list-style: none;
}
.content-header header nav ul li a{
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}
.content-header header nav ul li a:hover{
    color: #1CB698;
}
.nav-responsive{
    background-color: #1CB698;
    color:#fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
/* HOME */
.home{
    background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)),
    url(img/bg.jpg);
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
}
.home .content-banner{
    padding: 20px;
    background-color: #1e2326;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}
.home .content-banner img{
    margin-top: 40px;
    border: 10px solid #1CB698;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}
.home .content-banner h1{
    margin-top: 40px;
    font-size: 42px;
}
.home .content-banner h2{
    font-size: 15px;
    font-weight: normal;
}
.home .content-banner .networks a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}
.home .content-banner .networks a:hover{
    background-color: #1CB698;
}
/* TOPICS */
.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}
.section-title span {
	color: crimson;
}

/* ABOUT */
.about{
    background: #d4e5f7;
    color:#000000;
    padding: 50px 20px;
}
.about .content-section{
    max-width: 1100px;
    margin: auto;
}
.about h2{
    font-size: 48px;
    text-align: center;
    padding: 20px 0;

}
.about .content-section p{
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 20px;
}
.about .content-section p span{
    color: #1CB698;
    font-weight: bold;
}
.about .row{
    display: flex;
}
.about .row .col
{
    width: 50%;
}
.about .row .col h3{
    font-size: 28px;
    margin-bottom: 25px;
}
.about .row .col ul{
    list-style: none;
}
.about .row .col ul li{
    margin: 12px 0;
}
.about .row .col ul li strong{
    display: inline-block;
    color: #1CB698;
    width: 130px;
}
.about .row .col ul li span{
    background-color: #1CB698;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}
.about .row .col .content-interest{
    display: flex;
    flex-wrap: wrap;
}
.about .row .col .content-interest .interest{
    width: 100px;
    height: 100px;
    color:aliceblue;
    background-color: #99aaff;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}.about .row .col .content-interest .interest:hover{
    background-color: #363c41;
}
.about .row .col .content-interest .interest i{
    font-size: 30px;
    margin-bottom: 10px;
}
/* SKILLS */
.skills{
    background: #d4e5f7;
    color: #000000;
    padding: 50px 20px;
}
.skills .content-section{
    max-width: 1100px;
    margin: auto;
}
.skills h2{
    font-size: 48px;
    text-align: center;
    padding: 20px 0;

}
.skills .row{
    display: flex;
}
.skills .row .col{
    width: 50%;
    padding: 0 20px;
}
.skills .row .col h3{
    font-size: 28px;
    margin-bottom: 25px;
}
.skills .skill > span{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}
.skills .skill .bar-skill{
    height: 8px;
    width: 80%;
    background-color: #131517;
    position: relative;
    margin-bottom: 30px;
}
.skills .skill .progress{
    background-color: #3ba2a3;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}
.skills .skill .bar-skill span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #3ba2a3;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}
.skills .skill .javascript{
    width: 0%;
    animation: 2s javascript forwards;
}
@keyframes javascript {
    0%{width: 0%;}
    100%{width: 45%;}
}

.skills .skill .htmlcss{
    width: 0%;
    animation: 2s htmlcss forwards;
}
@keyframes htmlcss {
    0%{width: 0%;}
    100%{width: 89%;}
}

.skills .skill .java{
    width: 0%;
    animation: 2s java forwards;
}
@keyframes java {
    0%{width: 0%;}
    100%{width: 80%;}
}

.skills .skill .python{
    width: 0%;
    animation: 2s python forwards;
}
@keyframes python {
    0%{width: 0%;}
    100%{width: 85%;}
}

.skills .skill .android{
    width: 0%;
    animation: 2s android forwards;
}
@keyframes android {
    0%{width: 0%;}
    100%{width: 55%;}
}

.skills .skill .comunication{
    width: 0%;
    animation: 2s comunication forwards;
}
@keyframes comunication {
    0%{width: 0%;}
    100%{width: 80%;}
}

.skills .skill .team{
    width: 0%;
    animation: 2s team forwards;
}
@keyframes team {
    0%{width: 0%;}
    100%{width: 70%;}
}

.skills .skill .creativity{
    width: 0%;
    animation: 2s creativity forwards;
}
@keyframes creativity {
    0%{width: 0%;}
    100%{width: 99%;}
}

.skills .skill .dedication{
    width: 0%;
    animation: 2s dedication forwards;
}
@keyframes dedication {
    0%{width: 0%;}
    100%{width: 65%;}
}

.skills .skill .project{
    width: 0%;
    animation: 2s project forwards;
}
@keyframes project {
    0%{width: 0%;}
    100%{width: 94%;}
}
/* SERVICES */
#services .services {
    background:#d4e5f7;
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 50px 20px;
}
#services .service-top {
	max-width: 500px;
	margin: 0 auto;
}
#services .service-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 50px;
}
#services .service-item {
	flex-basis: 80%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
	border-radius: 10px;
	background-image: url(./img/service_bg.png);
	background-size: cover;
	margin: 10px 5%;
	position: relative;
	z-index: 1;
	overflow: hidden;
}
#services .service-item::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: 0.9;
	z-index: -1;
}
#services .service-bottom .icon {
	height: 80px;
	width: 80px;
	margin-bottom: 20px;
}
#services .service-item h2 {
	font-size: 1.3rem;
	color: white;
	margin-bottom: 10px;
	text-transform: uppercase;
}
#services .service-item p {
	color: white;
	text-align: left;
}
#services .service-bottom .service-item {
    flex-basis: 22%;
    margin: 1.5%;
}


/* CONTACT */
.contact{
    background-image: url(img/contact_bg.png);
    background-color: #d4e5f7;
    color: #000000;
    padding: 50px 20px;
}
.contact .content-section{
    max-width: 1100px;
    margin: auto;
}
.contact h2{
    font-size: 48px;
    text-align: center;
    padding: 20px 0;
}
.contact .row{
    display: flex;
}
.contact .col{
    width: 50%;
    padding: 10px;
    position: relative;
}
.contact .col input, .contact .col textarea{
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #bacde3;
    color: #000000;
    font-size: 18px;
}
.contact button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #000000;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    background-color: #bacde3;
    font-size: 16px;
    color: #000000;
    position: relative;
    z-index: 10;
}
.contact button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1CB698;
    z-index: -1;
    transition: 1s;
}
.contact button:hover .overlay{
    width: 100%;
}
.contact .col img{
    width: 100%;
}
.contact .col .info{
    position: absolute;
    top: 40%;
    background-color: #d4e5f7;
    padding: 20px;
    max-width: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contact .col .info ul{
    list-style: none;
}
.contact .col .info ul li{
    margin-bottom: 20px;
}
.contact .col .info ul li i{
    color: #1CB698;
    display: inline-block;
    margin-right: 20px;
}

/* FOOTER */
#footer{
    background-color: #252A2E;
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}
#footer .networks{
    margin-bottom: 20px;
}
#footer .networks a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}
.brand h1 {
	font-size: 1.6rem;
	text-transform: uppercase;
	color: white;
}
.brand h1 span {
	color: crimson;
}
#footer .above{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #1CB698;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}




/* Navigation */

@media screen and (max-width:980px){
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        width: 180px;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
    #services .service-bottom .service-item {
		flex-basis: 22%;
		margin: 1.5%;
	}
}
@media screen and (max-width:700px){
    .about .row{
        display: block;
    }
    .about .row .col{
        width: fit-content;
    }

    .skills .row{
        display: block;
    }
    .skills .row .col{
        width: 100%;
    }
    .skills .row .col .bar-skill{
        width: 100%;
    }

    .contact .row{
        display: block;
    }
    .contact .row .col{
        width: 100%;
    }
    #services .service-bottom .service-item {
		flex-basis: 45%;
		margin: 2.5%;
	}
}